<!doctype html>
!<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<script>
function goBack() {
    window.history.back();
}
</script>
<form action="/" method="get">
    {% for object in data %}
    <div class="list">
        {% for key, value in object.iteritems(): %}
        <div>
            {% if '__'  not in key %}
            {{ field_parser(key) }} de {{ item.title()}}:
            {% if value is sequence and value is not string %}
            {% for item in value %}
            {{item}},
            {% endfor %}
            {% else %}
            {{ value }}
            {% endif%}
            {% endif%}
        </div>
        <br>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="button">
        <button type="submit" >Voltar</button>
    </div>
</form>