<!doctype html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<script>
function goBack() {
    window.history.back();
}
</script>
<form action="/products" method="post">
    <div>
        <label for="name">Nome do Produto:</label>
        <input type="text" id="name" name="name" required/>
    </div>
    <div>
        <label for="department">Departmento:</label>
        <input type="text" id="department" name="department" required/>
    </div>
    <div>
        <label for="info">Informações:</label>
        <input type="text" id="info" name="info" />
    </div>

    <div class="button">
        <button type="submit">Enviar Cadastro</button>
        <button type="button" onclick="goBack()">Voltar</button>
    </div>
</form>