<!doctype html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<script>
function goBack() {
    window.history.back();
}
</script>
<form action="/products" method="post">
    {% if data %}
    {% for object in data %}
    <div class="list">
        {% for key, value in object.iteritems(): %}
        <div>
            {% if '__'  not in key %}
            {{ field_parser(key) }} do Produto:{{ value }}
            {% endif%}
        </div>
        <br>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="button">
        <button type="submit">Enviar Cadastro</button>
        <button type="submit" formaction="/">Voltar</button>
    </div>
    {% else %}
    <div>
        <label for="name">Nome do Produto:</label>
        <input type="text" id="name" name="name" required/>
    </div>
    <div>
        <label for="department">Departmento:</label>
        <input type="text" id="department" name="department" required/>
    </div>
    <div>
        <label for="info">Informações:</label>
        <input type="text" id="info" name="info" />
    </div>

    <div class="button">
        <button type="submit">Enviar Cadastro</button>
        <button type="button" onclick="goBack()">Voltar</button>
    </div>
    {% endif %}
</form>